<header>
  <!-- Logo and Company Name -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="Company Logo" class="company-logo" />
    <div class="company-name">Money Mining</div>
  </div>

  <!-- Hamburger menu -->
  <button class="hamburger-menu" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </button>

  <!-- Side Panel -->
  <div class="side-panel" [class.show]="isMenuOpen">
    <!-- Close Button -->
    <button class="close-btn" (click)="toggleMenu()">X</button>

    <!-- Side Panel Content -->
    <ul *ngIf="!isAdmin">
      <li>
        <a routerLink="/home" [routerLinkActive]="'active'" (click)="toggleMenu()">Home</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/login" [routerLinkActive]="'active'" (click)="toggleMenu()">Login</a>
      </li>
      <li>
        <a routerLink="/plans" [routerLinkActive]="'active'" (click)="toggleMenu()">Plans</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/profile" [routerLinkActive]="'active'" (click)="toggleMenu()">Profile</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
    <ul *ngIf="isAdmin && isAuthenticated">
      <li>
        <a routerLink="/home" [routerLinkActive]="'active'" (click)="toggleMenu()">Home</a>
      </li>
      <li>
        <a routerLink="/users" [routerLinkActive]="'active'" (click)="toggleMenu()">Users</a>
      </li>
      <li>
        <a routerLink="/plans" [routerLinkActive]="'active'" (click)="toggleMenu()">Plans</a>
      </li>
      <li>
        <a routerLink="/profile" [routerLinkActive]="'active'" (click)="toggleMenu()">Profile</a>
      </li>
      <li>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</header>
