<div class="home-container">
  <h1>Welcome to Our Network Marketing Platform</h1>
  <p>Discover the best plans to grow your business.</p>

  <!-- Button Container -->
  <div class="button-container">
    <!-- Login Button (only visible if the user is NOT authenticated) -->
    <button *ngIf="!isAuthenticated" (click)="login()">Login</button>

    <!-- Explore Plans Button -->
    <button (click)="explorePlans()">Explore Plans</button>
  </div>
</div>

  <!-- Image Gallery -->
  <div class="image-gallery">

    <img src="../../../assets/groups.png" alt="Team Collaboration" />
    <img src="../../../assets/shake hand.jpg" alt="Networking" />
    <img src="../../../assets/linked.jpg" alt="Success Strategies" />
    <img src="../../../assets/spin wheel.jpg" alt="Financial Planning" />
    <img src="../../../assets/stairs.png" alt="Success Strategies" />
    <img src="../../../assets/Ludo.jpg" alt="Marketing Insights" />
    <img src="../../../assets/about.webp" alt="Business Growth" />
  </div>
